*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: black;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 3rem;
}

.choice{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    background-color: black;
    cursor: pointer;
}

img{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 4rem;
    margin-top: 4rem;
}

#user, #computer{
    font-size: 4rem;
}

.msg-container{
    margin-top: 3rem;
}

.msg{
    background-color: black;
    color: white;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}

@media screen and (max-width: 550px) {

    body{
        height: 100vh;
        width: 100%;
    }
    .choices{
        gap: 0.8rem;
        margin-top: 5rem;
    }

    .choice{
        height: 120px;
        width: 120px;
    }

    img{
        height: 110px;
        width: 110px;
    }

    #user, #computer{
        font-size: 3rem;
    }

    .msg{
        display: inline;
        font-size: 1rem;
        padding: 0.8rem;
    }

    .msg-container{
        margin-top: 5rem;
    }

    .score-board{
        margin-top: 6rem;
    }
}